[submodule "csdms/docs/scipy-sphinx-theme"]
	path = csdms/docs/scipy-sphinx-theme
	url = https://github.com/scipy/scipy-sphinx-theme
[submodule "csdms/docs/numpydoc"]
	path = csdms/docs/numpydoc
	url = https://github.com/numpy/numpydoc
