analysis_driver: dakota_run_plugin
asynchronous: false
auxiliary_files: {auxiliary_files}
component: {component}
configuration_file: config.yaml
data_file: dakota.dat
descriptors: {descriptors}
evaluation_concurrency: 2
final_point:
- 1.1
- 1.3
gradients: no_gradients
hessians: no_hessians
id_interface: CSDMS
initial_point:
- -0.3
- 0.2
input_file: dakota.in
interface: fork
lower_bounds: null
method: {method}
n_steps: 10
output_file: dakota.out
response_descriptors: {response_descriptors} 
response_files: {response_files}
response_statistics:
- mean
responses: response_functions
run_directory: /Users/mpiper/scratch/fun-with-dakota
template_file: null
upper_bounds: null
variables: continuous_design
