method: multidim_parameter_study

analysis_driver: {analysis_driver}
asynchronous: false
auxiliary_files:
component: {component}
configuration_file: dakota.yaml
convergence_tolerance:
data_file: dakota.dat
descriptors: {descriptors}
evaluation_concurrency: 2
gradients: no_gradients
hessians: no_hessians
id_interface: {id_interface} 
initial_point:
input_file: dakota.in
interface: fork
lower_bounds: {lower_bounds}
max_iterations:
means:
output_file: dakota.out
partitions: {partitions}
plugin: {plugin}
response_descriptors: {response_descriptors}
response_files: {response_files}
response_statistics: {response_statistics}
responses: response_functions
run_directory: .
std_deviations:
template_file: "{template_file}"
upper_bounds: {upper_bound}
variables: continuous_design

# Notes:
# * The descriptors, initial_point, lower_bounds, partitions,
#   response_descriptors, response_statistics, and upper_bounds
#   parameters should be scalars or lists.
